/dist/
/node_modules/
/.idea/
/.vscode/
/tests/debugging/
docs/api
data/
static/builder/builder.bundle.js
static/builder/builder.bundle.js.map
static/viewer/viewer.bundle.js
static/viewer/viewer.bundle.js.map
.venv/
.env